@page
@model SimpleBank.Pages.Transactions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CreditType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CreditType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.DebitType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.DebitType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PreviousBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PreviousBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.NewBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.NewBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Account.BankAccountID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/BankAccounts/Details" asp-route-id="@Model.Transaction.BankAccountID">Back to Account</a>
</div>
